.loginBackground{
    /*-fx-background-color: linear-gradient(to bottom, #D0D0D0 0%, #D0D0D0 10%, #D4D1C3 10%, #D4D1C3 20%, #D8D3B6 20%,
    #D8D3B6 30%, #DCD4A9 30%, #DCD4A9 40%, #E0D69C 40%, #E0D69C 50%, #E4D78E 50%, #E4D78E 60%, #E8D981 60%, #E8D981 70%,
     #ECDA74 70%, #ECDA74 80%, #F0DC67 80%, #F0DC67 90%, #F4DD5A 90%);*/

     /*-fx-background-color: linear-gradient(to bottom, #D0D0D0 0%, #D0D0D0 20%, #D9D3B3 20%, #D9D3B3 40%, #E2D795 40%,
     #E2D795 60%, #EBDA78 60%, #EBDA78 80%, #F4DD5A 80%);*/

     -fx-background-color: linear-gradient(to bottom, #D0D0D0 0%, #D0D0D0 20%, #D9D5B3 20%, #D9D5B3 40%, #E2DB95 40%,
          #E2DB95 60%, #EBE078 60%, #EBE078 80%, #F4E55A 80%);
}

.profileBackground{
    -fx-background-color: linear-gradient(to bottom, #f0f0f0 0%, #f0f0f0 25%, #bdbdbd 25%, #bdbdbd 50%,
     #a3a3a3 50%, #a3a3a3 75%, #7d7d7d 75%);
}

.leaderboardBackground{
    /*-fx-background-color: linear-gradient(to bottom, #D0D0D0, #DBD8C3, #F4DD5A);*/
    /*-fx-background-color: linear-gradient(to bottom, #D0D0D0 0%, #D0D0D0 20%, #D9D3B3 20%, #D9D3B3 40%, #E2D795 40%,
         #E2D795 60%, #EBDA78 60%, #EBDA78 80%, #F4DD5A 80%);*/

    -fx-background-color: linear-gradient(to bottom, #D0D0D0 0%, #D0D0D0 20%, #D9D5B3 20%, #D9D5B3 40%, #E2DB95 40%,
         #E2DB95 60%, #EBE078 60%, #EBE078 80%, #F4E55A 80%);
}


.eightbit-btn{

    -fx-background-radius: 0;
    -fx-background-color: #92CD41;
    -fx-padding: 8px;
    -fx-display: inline-block;
    -fx-text-alignment: center;
    -fx-font-size: 10px;
    -fx-font-family: 'Press Start 2P', cursive;
    -fx-text-decoration: none;
    -fx-color: white;

}

.eightbit-btn:hover, .eightbit-btn:focus {
    -fx-background-color: #76c442;
}

.eightbit-btn:active {
    -fx-effect: dropshadow(gaussian, rgba(74,165,46,1), 0, 0, 4, 4);
}

#addWorkout.eightbit-btn{
    -fx-background-color: #ff8800;
}

#addWorkout.eightbit-btn:hover, #addWorkout.eightbit-btn:focus {
    -fx-background-color: #e87c00;
}

#updateBtn.eightbit-btn{
    -fx-background-color: #7986ba;
}

#updateBtn.eightbit-btn:hover, #updateBtn.eightbit-btn:focus {
    -fx-background-color: #6873a1;
}

#chartButton.eightbit-btn{
    -fx-background-color: #7986ba;
}

#chartButton.eightbit-btn:hover, #updateBtn.eightbit-btn:focus {
    -fx-background-color: #6873a1;
}


#deleteWorkoutButton.eightbit-btn{
    -fx-background-color: #f5d131;
}

#deleteWorkoutButton.eightbit-btn:hover, #deleteWorkoutButton.eightbit-btn:focus{
    -fx-background-color: #d6b72b;
}

#tableBtn.eightbit-btn{
    -fx-background-color: #f5d131;
}

#tableBtn.eightbit-btn:hover, #deleteWorkoutButton.eightbit-btn:focus{
    -fx-background-color: #d6b72b;
}

#tableBtn.eightbit-btn{
    -fx-background-color: #f5d131;
}

#tableBtn.eightbit-btn:hover, #deleteWorkoutButton.eightbit-btn:focus{
    -fx-background-color: #d6b72b;
}



